(ns battlenet.config
  (:require [battlenet.auth :as auth]))

; grab your tokens at https://develop.battle.net
(def oauth-config {
  :url "https://eu.battle.net/oauth/token"
  :client-id (System/getenv "OAUTH_CLIENT_ID")
  :client-secret (System/getenv "OAUTH_CLIENT_SECRET")
  :token-ext (System/getenv "BLIZZARD_APIKEY")})

; here are the templates, hooks, and input files
(def data-dir (str (System/getenv "PWD") "/data"))

; this should be writable, obviously
(def docroot-dir (str (System/getenv "PWD") "/resources/public"))
(def output-dir (str (System/getenv "PWD") "/resources/public"))

(def current-region "eu")
(def current-locale "en_GB")
(def current-list   (if-let [xs (System/getenv "FILENAME")] (keyword (clojure.string/replace xs ".html" "")) :my-list))
(defn current-params [] (str "locale=" current-locale))

; only needed for D3
(def current-tags [])
; you only need this if you don't want to put .txt files into data-dir/input/
(def current-chars {
:my-list [
"Tarren Mill;Rogerbrown"
]
})
