(ns w2.config)

(def oauth-client-id "SOMETHING")
(def oauth-client-secret "SECRET")

(def output-dir "/tmp/w2")

(def current-region "eu")
(def current-locale "en_GB")
(def current-list   (if-let [xs (System/getenv "FILENAME")] (keyword (clojure.string/replace xs ".html" "")) :test))
(def current-params (str "locale=" current-locale "&access_token=" (System/getenv "BLIZZARD_APIKEY")))

(def current-chars {
:test [
"Sunstrider;Werdup"
]

:default [
"Sunstrider;Werdup"
]
})
