.demon-hunter { background-color: #641982; }
.barbarian    { background-color: #9C1F48; }
.monk         { background-color: #B09602; }
.wizard       { background-color: #0B68BA; }
.witch-doctor { background-color: #53B339; }
.crusader     { background-color: #666633; }
.necromancer  { background-color: #017785; }

tr {
  color: #fff;
}

td {
  padding: 5px;
}

a {
  color: #fff;
  font-decoration: none;
}

a:hover {
  color: #ddd;
  font-decoration: underline;
}

body {
  font-family: 'Candara', 'Gill Sans', 'Optima', 'trebuchet ms', Helvetica, Arial, sans-serif;
}
