(ns wowexample.config)

(comment "Azshara;Undyne")

(def current-region "eu")
(def current-params "locale=en_GB&apikey=XXX")

(def current-chars {
:test [
"Sunstrider;Werdup"
]

:default [
"Sunstrider;Werdup"
]
})
